<h1>FutCtin</h1>

<br>

<h6>
	<p>BASES</p>
	<p>1.- Cada equipo tendra 3 jugadores y 1 suplente.</p>
	<p>2.- Cada partido estará dividido en 2 tiempos cada uno de 10 min, con descanso de 5 min</p>
</h6>